@import '_mix'

.friends_container
    min-height: 400px
    max-height: 400px
    display: flex
    flex-direction: row
    background-color: #fff

#found
    +col
    position: relative
    &:after
        content: ""
        background: lightgray
        position: absolute
        bottom: 2.5%
        right: 0
        height: 95%
        margin: auto 0
        width: 1px

        

    // border-right: 1px solid lightgray
    // border-: 90%

#added
    +col

.frame_b
    +frame
    border-radius: 0 0 20px 20px
    height: 20px
    display: flex
    justify-content: flex-end
.btn
    background-color: #fff
    border-radius: 20px
    border: none
    font-size: 1.1rem
    height: 27px